@import "tailwindcss";

@layer base {
  /* Light mode (default) */
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  /* Dark mode */
  .dark {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
}
